@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <body>
        
        This Webapp was created by Bhavneet Singh Gujral for Assignment 1.
        This is a simple log in application.
        This line of text is added to test a new commit. commit 2.

    </body>
    
    <p>Welcome, to proceed please <a href="https://localhost:44306/login">Log In</a></p>
</div>
